/***********
p {
color: darkgoldenrod;
font-size: 24px;
font-weight: bold;    
}     
***********/

p,h1 {
color:red;    
    
}

div p {
color:aqua    
    
}

#id-para{
  color:green;
}

.class-para{
color:blue;
    
}

